h1.title {
    text-align: center;
  }

.button {
  display: inline-block;
  padding: 10px;
}

span.HIRT{
  color: orange;
  font-size: 50px;
  font-weight: bold;
}
span.cart{
  font-size: 50px;
  color:rgb(113, 226, 0)
}