.products {
  text-align: center;
  border: solid;
  border-width: 1px;
  border-color: rgb(228, 228, 228);
  border-radius: 10px;
  margin: 20px;
  min-width: 280px;
  height: 150px;
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  transition: transform .5s;
}

div .products:hover{
  background-color: rgb(247, 247, 247);
  transform: translate(0px, -5px);
}

.product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
}

.product-image img {
    max-width: 100%;
}

.product-info {
    margin-top: auto;
 }

@media (max-width: 920px) {
    .product-card {
      flex: 1 21%;
    }
}

@media (max-width: 600px) {
    .product-card {
      flex: 1 46%;
    }
}

button {
  margin: 5px;
}

div .NavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.Page {
  font-weight: lighter;
  font-size: large;
  display: block;
  color: rgb(255, 143, 143);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.HIRT {
  font-weight: lighter;
  font-size: large;
  display: block;
  color: rgb(255, 168, 36);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: aqua;
}
