.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#ConfirmAddressCard {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}